streamlit
nltk
numpy
opencv-python
pydub
pillow
tensorflow
keras
torch
torchvision
tensorflow-hub
moviepy
speechrecognition
yt-dlp
google-api-python-client
streamlit-webrtc
ffmpeg-python
